@import "bootstrap-sprockets";
@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;

}

section {
  overflow: auto;
}
.btn-primary:visited, .btn-success:visited, .btn-danger:visited{
  color: white;
}