<div class="panel panel-primary" id="panels">
	<div class="panel-heading">Food Preferences</div>
	<div class="panel-body">
	<% @food_preferences.each do |fp| %>
		<p><%= fp.name%></p>
	<%end%>
	</div>
</div>
<div class="panel panel-primary" id="panels">
	<div class="panel-heading">Food Types</div>
		<div class="panel-body">
	<% @food_types.each do |fp| %>
		<p><%= fp.name%></p>
	<%end%>
	</div>
</div>
<div class="panel panel-primary" id="panels">
	<div class="panel-heading">Cuisines</div>
		<div class="panel-body">
	<% @cuisines.each do |fp| %>
		<p><%= fp.name%></p>
	<%end%>
	</div>
</div>